###### Requirements without Version Specifiers ######`
numpy
scipy
ruamel.yaml
opencv-python
simple-parsing
scikit-image
matplotlib
catkin-tools
networkx==3.0
# cupy

###### Requirements with Version Specifiers ######`
shapely
